[client]
user=root
password={{ vault_mysql_root_password | default('AnsibleSecure123!') }}
socket=/var/run/mysqld/mysqld.sock

[mysql]
user=root
password={{ vault_mysql_root_password | default('AnsibleSecure123!') }}
socket=/var/run/mysqld/mysqld.sock

[mysqldump]
user=root
password={{ vault_mysql_root_password | default('AnsibleSecure123!') }}
socket=/var/run/mysqld/mysqld.sock