# Ansible
*.retry
.vault_pass
vault_vars.yml
host_vars/*/vault.yml

# Python
__pycache__/
*.pyc
.venv/
venv/

# Logs y evidencia temporal
logs_*/
evidence_*/
*.log

# Credenciales
*_credentials.yml
*_secrets.yml
*.pem
*.key
